@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?17lpds');
  src:  url('fonts/icomoon.eot?17lpds#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?17lpds') format('truetype'),
    url('fonts/icomoon.woff?17lpds') format('woff'),
    url('fonts/icomoon.svg?17lpds#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-microphone:before {
  content: "\e902";
}
.icon-stop:before {
  content: "\e900";
}
.icon-save:before {
  content: "\e901";
}
.icon-pause:before {
  content: "\e903";
}
